<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/webp" href="images/clubhouse-icon.webp">
    <title><%= title %></title>
    <link rel="stylesheet" href="/index.css">
    <script src="/post-form.js" defer></script>
  </head>
  <body>
    <!-- Page header -->
    <header>
      <div class="logo-wrapper">
        <img class="logo-wrapper__img" alt="Mickey Mouse Clubhouse logo" src="/images/toppng.com-mickey-mouse-clubhouse-logo-png-1280x563.webp">
      </div>

      <nav class="navbar">
        <% if(locals.user)  {%>
          <p><%= user.username %></p>
          <a href="/Log-out" class="navbar__anchor navbar__right-ear">Log Out</a>
        <%} else {%>
          <a href="/Sign-up" class="navbar__anchor navbar__left-ear">Sign Up</a>
          <a href="/Log-in" class="navbar__anchor navbar__right-ear">Log in</a>
        <%}%> 
      </nav>     
    </header>

    <!-- Page main content -->
    <main>

      <div class="button-wrapper">
        <% if(locals.user) {%>
          
          <% if(locals.user.memberstatus) {%>
          <button class="button-wrapper__post-button">Create Post</button>
          <%} else {%>
            <a href="/member-initiation" class="button-wrapper__member-anchor">Become a member to create posts</a>
          <%}%>  

        <%} else {%>
          <h2 class="button-wrapper__header">Create an account and become a member to start posting</h2>
        <%}%>    
      </div>

      <div class="main-content">
      
        <% for(let i=0; i < posts.length; i++) {%>
          <div class="post">
            <h3 class="post__header"><%= posts[i].title %></h3>
            <p class="post__paragraph"><%= posts[i].post %></p>

            <% if(locals.user) {%>

              </a> 

              <% if(locals.user.memberstatus) {%>
                <p class="post__paragraph-time" style="margin-bottom: 4px;"> <%= posts[i].username %> </p>
                <p class="post__paragraph-time"> <%= dateHandler.formatDate(posts[i].senddate) %> </p>
              <%}else {%>
                <p class="post__paragraph-time">Log-in and become a member to see more</p>
              <%}%>
              
              <%if(locals.user.adminstatus){%>
                <form class="delete-form" method="POST" action="/delete-post">
                  <input type="hidden" name="postid" value="<%= posts[i].postid %>">
                  <button class="delete-form__button" type="submit"><img src="/images/delete.webp"></button>
                </form>
              <%}%>  

            <%}else {%>
              <p class="post__paragraph-time">Log-in and become a member to see more</p>
            <%}%>      
          </div>
        <%}%>
       
      </div>
    </main>

     <%- include('post-form.ejs') %> 

    <!-- Page Footer -->
     <footer>

     </footer>
  </body>
</html>